@page
@model PractissWeb.Pages.Coach.ReportsSearchModel
@{
	var alertOnError = HttpContext.Session.GetString("AlertOnError") ?? "false";
}

@section PageScripts {
	<script>
		// Define alertOnError in the global scope
		var alertOnError = '@alertOnError' === "true";
	</script>
	<script src="@Model.GetVersionedUrl("~/js/pages-base.js")"></script>
	<script src="@Model.GetVersionedUrl("~/js/pages-common-reportsearch.js")"></script>
}

<div class="card mb-3">
	<h5 class="card-header">Learner Reports</h5>
	@if (Model.Reports.Count() == 0)
	{
		<div class="card-body">
			<div>
				<p>No roleplay reports are available at the moment. Reports will appear here when learners you have assigned roleplays to complete their assigned scenarios. To assign roleplays to your learners, you have two options:</p> 
				<ol> 
					<li>Visit the <a href="/Coach/ModuleLibrary">Roleplay Studio</a> page, click on the settings for the roleplay scenario you want to assign, and then choose the learner or learners to assign it to.</li> 
					<li>Alternatively, you can visit the <a href="/Coach/Clients">Learner Setup</a> page and assign one or more roleplays to a learner.</li> 
				</ol>
			</div>
		</div>
	}
	else
	{
		<div class="card-body">
			<div>
				<div class="col-12">
					<div class="col-12 col-sm-6 col-lg-4">
						<label for="searchTextbox" class="form-label">Search:</label>
						<input type="search" class="form-control" placeholder="search text" id="reportsSearchTextbox" />
					</div>
				</div>
			</div>
		</div>
	}
	<div class="card table-responsive">
	<table class="datatables-users table border-top dataTable no-footer dtr-column collapsed" id="roleplayReportsTable" aria-describedby="DataTables_Table_0_info">
		<thead>
			<tr>
				<th class="sorting" style="width: 240px;" aria-label="Learner">Learner</th>
				<th class="sorting" style="width: 300px;" aria-label="Module">Module</th>
				<th class="sorting" style="width: 127px;" aria-label="Date">Date</th>
				<th class="sorting" style="width: 127px;" aria-label="Actions">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var report in Model.Reports)
			{
				<tr>
					<!-- Fill in table data -->
					<td class="sorting_1">
						<div class="d-flex justify-content-start align-items-center user-name">
							<div class="avatar-wrapper">
								<div class="avatar avatar-sm me-3"><img src="data:image/png;base64,@report.ModuleAssignment.Learner.ProfileImage" alt="Avatar" class="rounded-circle"></div>
							</div>
							<div class="d-flex flex-column"><span class="fw-semibold">@report.ModuleAssignment.Learner.FirstName @report.ModuleAssignment.Learner.LastName</span><small class="text-muted">@report.ModuleAssignment.Learner.Email</small></div>
						</div>
					</td>
					<td><span>@report.ModuleAssignment.Module.Title</span></td>
					<td><span>@DateTime.Parse(report.InteractionStats.InteractionEndTime).ToLocalTime().ToShortDateString()</span></td>
					<td>
						<div>
							<button type="button" class="btn rounded-pill btn-label-primary" onclick="viewReportDetails('@report.Id')">
								<span class="tf-icons bx bx-detail"></span>
							</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</div>
