@page
@model PractissWeb.Pages.Learner.CommunicationInsightsModel
@{
	var alertOnError = HttpContext.Session.GetString("AlertOnError") ?? "false";
}

@section PageScripts {
	<script>
		// Define alertOnError in the global scope
		var alertOnError = '@alertOnError' === "true";
	</script>
	<script src="@Model.GetVersionedUrl("~/js/pages-base.js")"></script>
	<script src="@Model.GetVersionedUrl("~/js/pages-learner-conversationinsights.js")"></script>
}

<form id="antiforgeryTokenForm" style="display:none;">
	@Html.AntiForgeryToken()
</form>

<div class="card mb-3">
	<h5 class="card-header">Meeting Insights</h5>
	<div class="card table-responsive">
  <table class="datatables-users table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" >
	  <thead>
		  <tr>
			  <th class="sorting" aria-label="Date">Date</th>
			  <th class="sorting" aria-label="Source">Source</th>
			  <th class="sorting" aria-label="Convesation">Conversation</th>
			  <th class="sorting" aria-label="Actions">Actions</th>
		  </tr>
	  </thead>
	  <tbody>
			@foreach (var r in Model.Insights)
			{
				<tr>
					<td><span>@r.Title</span></td>
					<td><span>@r.Source</span></td>
					<td><span>@DateTime.Parse(r.Date).ToShortDateString()</span></td>
					<td>
						<!-- Actions (e.g., View Details) -->
						<div>
							<button type="button" class="btn rounded-pill btn-label-primary" title="View Insights" onclick="viewInsightDetails('@r.Id')">
								<span class="tf-icons bx bx-detail"></span>
							</button>
							<button type="button" class="btn rounded-pill btn-label-primary" title="Delete Insight" data-insight-id="@r.Id" onclick="showConfirmationModal('@r.Id')">
								<span class="tf-icons bx bx-trash"></span>
							</button>
						</div>
					</td>
				</tr>
			}
	  </tbody>
  </table>
</div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you really sure? This action cannot be undone.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete Inisghts</button>
			</div>
		</div>
	</div>
</div>